*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
    background-color: rgb(145, 144, 144);
}

.pointer:hover {
  cursor: pointer;
}

.icon {
  font-size: 3rem;
  transition: all 0.3s;
}

.icon:hover {
  transform: scale(1.1) rotate(7deg);
}