*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

p, a {
    font-size: 1.1rem !important;
}

.pointer:hover {
    cursor: pointer;
}


/* ---------- navbar ---------- */
#filler {
    color: rgba(145, 145, 145);
}

.navbar {
    font-size: calc(.8rem + 3.9vw) !important;
    transition: all 0.5s;
}

.navbar-scrolled {
    background-color: black;
    color: white !important;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}


/* ---------- hero ---------- */

.hero {
    background-color: rgba(145, 145, 145);
}

.heroContainer {
    background-image: url(../assets/images/HeroPicTransparent.png);
    background-repeat: no-repeat;
    background-position: bottom left -4px;
    background-size: 30%;
}

@media only screen and (max-width: 991px) {
    .heroContainer {
        background-image: url(../assets/images/HeroPicTransparent.png);
        background-size: 35%;
}
}

@media only screen and (max-width: 768px) {
    .heroContainer {
        background-image: url(../assets/images/HeroPicTransparent.png);
        background-size: 40%;
}
}

@media only screen and (max-width: 575px) {
    .heroContainer {
        background-image: url(../assets/images/HeroPicTransparent.png);
        background-size: 50%;
}
}


/* ---------- about me ----------- */

.card {
    transition: all 0.5s;
}

.card:hover {
    transform: scale(1.025);
}

.bwImg {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
}


/* ---------- contact me ----------- */
#footerCredit {
    opacity: 0.5;
}
