*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

h1, h2 {
    letter-spacing: -1px !important;
}

p, a {
    font-size: 1.1rem !important;
}

.pointer:hover {
    cursor: pointer;
}


/* ---------- navbar ---------- */
#filler {
    color: rgba(145, 145, 145);
}

.navbar {
    font-size: calc(.8rem + 3.9vw) !important;
    transition: all 0.5s;
}

.navbar-scrolled {
    background-color: black;
    color: white !important;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}


/* ---------- hero ---------- */
/* .hero {
    background-color: rgba(145, 145, 145);
} */

.hero {
    background-image: linear-gradient(to right, rgb(145, 145, 145), rgb(145, 145, 145), rgb(145, 145, 145), rgb(165, 165, 165), rgb(185, 185, 185), rgb(165, 165, 165), rgb(145, 145, 145), rgb(145, 145, 145), rgb(145, 145, 145));
    background-size: 1000%;
    animation: bg-animation 7s infinite alternate;
}

@keyframes bg-animation {
    0% {background-position: left}
    100% {background-position: right;}
}

.heroContainer {
    background-image: url(../assets/images/HeroPicTransparent.png);
    background-repeat: no-repeat;
    background-position: bottom left -4px;
    background-size: 30%;
}

@media only screen and (max-width: 991px) {
    .heroContainer {
        background-image: url(../assets/images/HeroPicTransparent.png);
        background-size: 35%;
}
}

@media only screen and (max-width: 768px) {
    .heroContainer {
        background-image: url(../assets/images/HeroPicTransparent.png);
        background-size: 40%;
}
}

@media only screen and (max-width: 575px) {
    .heroContainer {
        background-image: url(../assets/images/HeroPicTransparent.png);
        background-size: 50%;
}
}


/* ---------- work ----------- */

.card {
    transition: all 0.5s;
}

.card:hover {
    transform: scale(1.025);
}

.bwImg {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
}

.cardIcon {
    font-size: 2em !important;
}

.cardIconContainer {
    display: flex;
    justify-content: space-evenly;
}


/* ---------- skills ----------- */
.icon {
    font-size: 5em !important;
    transition: all 0.3s;
}

.icon:hover {
    transform: scale(1.05) rotate(7deg);
}


@media only screen and (max-width: 576px) {
    .icon {
        font-size: 4em !important;
    }
}


/* ---------- footer ----------- */
#footerCredit {
    opacity: 0.5;
}
